
# Database

DATABASE_URL="postgresql://postgres:password@localhost:5432/myDatabase?schema=public"


# Server

PORT=3000
NODE_ENV=development


# JWT

JWT_SECRET="example-jwt-secret"
JWT_REFRESH_SECRET="example-jwt-refresh-secret"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"


# Stripe Payment (Dummy Keys)

STRIPE_SECRET_KEY=sk_test_example_secret_key
STRIPE_PUBLISHABLE_KEY=pk_test_example_publishable_key
STRIPE_WEBHOOK_SECRET=whsec_example_webhook_secret


# PayPal Payment (Dummy Keys)

PAYPAL_CLIENT_ID="example_paypal_client_id"
PAYPAL_CLIENT_SECRET="example_paypal_client_secret"
PAYPAL_MODE="sandbox"
PAYPAL_WEBHOOK_ID="example_paypal_webhook_id"


# AI Chatbot Configuration

AI_PROVIDER="groq"
GROQ_API_KEY="gsk_example_dummy_key"


# Socket.IO

CLIENT_URL="http://localhost:3001"
